.App {
  font-family: sans-serif;
  text-align: center;
}

.allWeeks {
  display: flex;
}

.week {
  width: 30px;

  display: flex;
  flex-direction: column;
  margin: 10px;
}

.day {
  width: 20px;
  height: 20px;
  background-color: gray;
  margin-top: 5px;
  display: grid;
  align-content: center;
}
